* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://ak9.picdn.net/shutterstock/videos/9025099/thumb/1.jpg");
    background-size: cover;
    height:100vh;
    color: #fff;
}

header {
    padding-bottom: 15px;
    color: #fff;
}

h1 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 4px 4px #fff;
    color: #199CFF;
}

ul {
    list-style: none;
    padding: 15px;
    font-size: 20px;
    color: #32FFCE;
}
/*---------------------------*/
  /* Your Location Styles
/*---------------------------*/
#location-box {
    color: #fff;
    margin-top: 25px;
    font-size: 100%;
    text-shadow: 1px 1px red;
    letter-spacing: 0.01em
}

#info li {
    display: inline;
}

/*---------------------------*/
  /* MAP STYLES
/*---------------------------*/
#map { 
    width: 100%;
    margin-top: 15px;
    height: 600px;
}
/*---------------------------*/
  /* WEATHER RESULTS STYLES
/*---------------------------*/
#weather-results {
    background-size: cover;
    margin-left: 15px;
    background-color: #E8E8E8;
    background-size: cover;
    padding: 0px 0px 50px 40px;    
}

#weather-results li {
    line-height: 1.6;
}

li span {
    margin-left: 10px;
}

h3 {
    font-size: 22px;
    padding: 10px;
    color:#fff;
    text-shadow: 2px 2px #3498db;
}
/*---------------------------*/
  /* Intro Styles
/*---------------------------*/
#intro {
    text-align: center;
    margin-top: 150px;
}

.para1, .para2, .para3 {
    color: #fff;
    font-size: 125%;
    font-weight: bold;
    text-shadow: 5px 5px #000;;
    text-transform: uppercase;
    line-height: 1.8;
}

#startAppBtn {
    margin-top: 50px;
    padding: 15px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
}

#startAppBtn:hover {
    background-color: #27ae60;
    cursor: pointer;
}
/*------------------------*/
    /* SIDE BAR STYLES
/*------------------------*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: -250px;
    background-color: rgba(0,0,75,0.4); /* */
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.expanded {
    left : 0;
}

.sidenav.expanded+#main-box {
    margin-left: 250px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-box {
    transition: margin-left .5s;
}

.icon {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
    color: green;
}
/*----------------------------*/
    /* GEO CODE INPUT STYLES
/*----------------------------*/
#address {
    margin-left: 10px;
}

#floating-panel {
    margin-top: 10px;
}

@media screen and (max-width: 600px){
   .sidenav.expanded+#main-box{
        margin-left: 0;
   }
}
